body{
	background-color: #1D1184;
}

#Projet{
	position: fixed;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	width: 80px;
	background-color: #4472C4;
}

#A_propos_moi{
	position: fixed;
	top: 0px;
	right: 80px;
	border: 1px solid black;
	width: 130px;
	background-color: #4472C4;

}

#Presentation{
	position: fixed;
	top: 0px;
	right: 210px;
	border: 1px solid black;
	width: 100px;
	background-color: #4472C4;
}

#home{
	position: fixed;
	top: 0px;
	right: 310px;
	border: 1px solid black;
}

a{
	text-decoration: none;
	color: #FFD966;
}

#rose{
	background-color: #8A006C;
	margin-top: 10px;
}
h2{
	margin-top:100px;
}

h2,h3,p,li{
	color: white;
}

nav {
    background-color: #460980;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}

p {
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#photo {
    max-width: 40%;
    flex: 0; /* Empêche l'image de prendre autant d'espace que possible */
    margin-left: 20px; /* Ajoute une marge entre la balise p et l'image */
}

#violet{
	background-color: #460980;
}

#normal{
	margin-left: 0px;
	text-align: left;
}



#skills {
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.skill img {
    width: 80px;
    height: 74px;
    margin-bottom: 10px;
}

.skill p {
    text-align: center;
    margin: 0;
}

.skill ul {
    padding: 0; /* Pour supprimer le padding par défaut des listes */
}

.skill li {
    text-align: center;
    margin: 0;
}

.triangle-container {
    position: relative;
    width: 100%;
    height: 200px; /* Ajustez la hauteur selon vos besoins */
}

.image {
    max-width: 250px; /* Ajustez la taille selon vos besoins */
    position: absolute;
    transform: translate(-50%, -50%);
}

.volley { top: 40%; left: 15%; }
.basket { top: 50%; left: 85%;}
.jeux_video { bottom: -80%; left: 50%; }


#partie3 img {
    width: 400px; /* Largeur souhaitée pour les images */
    height: auto; /* Pour maintenir les proportions */
    margin: 0 10px; /* Marge horizontale entre les images */
}


.image-container {
    display: flex;
	justify-content: center;
}

/* Style pour l'effet de zoom */
.zoomed {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

#bouton{
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-bottom: 10px;

}

#Linkedin{
	margin-bottom: 10px;
	background-color: #4472C4;
	border: 1px solid black;
}

#CV{
	background-color: #4472C4;
	border: 1px solid black;
}

form{
	width:50%;
	margin:0 auto;
	border-radius: 50px;
	box-shadow: 10px 10px 10px #8A006C;
	padding-left: 20px;
	background-color: #1D1184;
}

#submit{
	display: block;
	margin: 0 auto;
}

/* Style pour l'emplacement des images */
.image-container {
    display: flex; /* Utilise Flexbox pour disposer les images horizontalement */
    justify-content: center; /* Centre les images horizontalement */
    flex-wrap: wrap; /* Permet aux images de passer à la ligne si nécessaire */
	margin-bottom: 20px; /* Ajoute un espace de 20px en bas de chaque ligne d'images */
}

/* Pour les écrans plus petits */
@media only screen and (max-width: 767px) {
    .image-container {
        margin-bottom: 10px; /* Réduisez l'espace en bas pour les écrans plus petits si nécessaire */
    }
}
